<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<parameter name="url" value="http://leaftaps.com/opentaps/"/>
  <test  name="Modify Leads - Chrome">
  <parameter name="browserName" value="chrome"/>
    <classes>
      <class name="com.leaftaps.leads.ui.cases.CreateLeadTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
